<!--
  templateType: quote
  isAvailableForNewContent: true
  label: Kantar
  screenshotPath: ../images/modern.png
-->

{% extends './layouts/base.html' %} {% block stylesheet %} {{
require_css(get_asset_url("../css/modern.css")) }} {% endblock stylesheet %} {%
block body %} {% require_css %}
<style>
  .quotes-wrapper {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 30px 0;
  }

  .kantar-logo {
    width: auto;
    padding-bottom: 20px;
  }

  .address-wrapper {
    margin-bottom: 30px;
  }

  .bold-title-wrapper,
  .title-wrapper {
    margin-bottom: 10px;
  }

  .title-wrapper.top-margin {
    margin-top: 64px;
  }

  .info-container {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 140px 1fr;
    grid-auto-columns: auto;
    margin-bottom: 10px;
    display: grid;
  }

  .signoff-container {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: auto;
    margin-top: 140px;
    padding-bottom: 200px;
    display: grid;
  }
</style>
{% end_require_css %}

<div class="quotes-wrapper">
  <div class="kantar-logo">
    {% module "logo" path="../modules/quote_logo" %}
  </div>

  <div class="address-wrapper">
    {% module "sender_company" label="Sender company" path="@hubspot/rich_text"
    html="
    <div>
      {{ personalization_token('template_data.quote.hs_sender_company_name', '')
      }}
    </div>
    <div>
      {{ personalization_token('template_data.quote.hs_sender_company_address',
      '') }}
    </div>
    <div>
      {{ personalization_token('template_data.quote.hs_sender_company_address2',
      '') }}
    </div>
    <div>
      {{ personalization_token('template_data.quote.hs_sender_company_city', '')
      }}, {{
      personalization_token('template_data.quote.hs_sender_company_state', '')
      }} {{ personalization_token('template_data.quote.hs_sender_company_zip',
      '') }}
    </div>
    <div>
      {{ personalization_token('template_data.quote.hs_sender_company_country',
      '') }}
    </div>
    " %}
  </div>

  <div class="title-wrapper">
    {% module "Title_heading" label="Title heading" path="@hubspot/rich_text"
    html="
    <strong
      >Samarbetsavtal mellan {{
      personalization_token('template_data.quote.hs_sender_company_name', '')
      }}, 559383-6835 ({{
      personalization_token('template_data.quote.hs_sender_company_name', '')
      }}) och {{
      personalization_token('template_data.quote.associated_objects.company.name',
      '') }}, {{
      personalization_token('template_data.quote.associated_objects.company.organisationsnummer',
      '') }} ({{
      personalization_token('template_data.quote.associated_objects.company.name',
      '') }}). </strong
    ><br /><br />" %}
  </div>

  <div class="info-container">
    <div><strong>Titel:</strong></div>
    {% module "Title_data" label="Title" path="@hubspot/rich_text" html="
    <div>
      {{
      personalization_token('template_data.quote.associated_objects.deal.dealname','')
      }}
    </div>
    " %}
  </div>
  <div class="info-container">
    <div><strong>Databaser:</strong></div>

    <div>
      {% for line_item in ASSOCIATED_OBJECTS.line_items %} {{ line_item.name +
      "<br />" }} {% endfor %}
    </div>
  </div>
  <div class="info-container">
    <div><strong>Nyttjanderätt:</strong></div>
    {% module "Right_of_use_data" label="Right of use" path="@hubspot/rich_text"
    html="
    <div>
      {{
      personalization_token('template_data.quote.associated_objects.deal.nyttjanderatt','')
      }}
    </div>
    " %}
  </div>
  <div class="info-container">
    <div><strong>Ändring av uppgift:</strong></div>

    {% module "Change_of_task_data" label="Change of task"
    path="@hubspot/rich_text" html="
    <div>
      För att kunna säkerställa att vi använder oss av korrekta uppgifter
      behöver vi veta så snart en ändring skett gällande utgivningsfrekvens,
      annonspriser eller logotyp och få sådan information tillsänt oss.
    </div>
    " %}
  </div>
  <div class="info-container">
    <div><strong>Källangivelse:</strong></div>

    {% module "Source_statement_data" label="Source statement"
    path="@hubspot/rich_text" html="
    <div>
      När siffror från ORVESTO används ska källan anges som ex. Källa: ORVESTO
      Konsument 2023:1
    </div>
    " %}
  </div>
  <div class="info-container">
    <div><strong>Prisspecifikation:</strong></div>

    {% module "Price_specification_data" label="Price specification"
    path="@hubspot/rich_text" html="
    <div>
      {{
      personalization_token('template_data.quote.associated_objects.deal.prisspecifikation',
      '') }}
    </div>
    " %}
  </div>
  <div class="info-container">
    <div><strong>Pris exkl. moms:</strong></div>

    {% module "Price_exkl_VAT_data" label="Price exkl VAT"
    path="@hubspot/rich_text" html="
    <div>
      {{
      personalization_token('template_data.quote.associated_objects.deal.pris_exkl__moms_',
      '') }} {{ personalization_token('QUOTE.hs_currency', '') }}
    </div>
    " %}
  </div>
  <div class="info-container">
    <div><strong>Fakturering:</strong></div>

    {% module "Billing_data" label="Billing" path="@hubspot/rich_text" html="
    <div>
      {{
      personalization_token('template_data.quote.associated_objects.deal.fakturering',
      '') }}
    </div>
    " %}
  </div>
  <div class="info-container">
    <div><strong>Faktureringsadress:</strong></div>

    {% module "Billing_address_data" label="Billing address"
    path="@hubspot/rich_text" html="
    <div>
      {{
      personalization_token('template_data.quote.associated_objects.deal.kontakt_email',
      '') }}
    </div>
    " %}
  </div>
  <div class="info-container">
    <div><strong>Betalningsvillkor:</strong></div>

    {% module "Payment_terms_data" label="Payment terms"
    path="@hubspot/rich_text" html="
    <div>30 dagar netto.</div>
    " %}
  </div>
  <div class="info-container">
    <div><strong>Avtalsperiod:</strong></div>

    <div>
      <div id="avtalsperiod"></div>
    </div>
  </div>

  {% if template_data.quote.associated_objects.deal.kommentar %}
  <div class="info-container">
    <div><strong>Kommentarer:</strong></div>
    {% module "Comments_data" label="Comments" path="@hubspot/rich_text" html="
    <div>
      {{
      personalization_token('template_data.quote.associated_objects.deal.kommentar','')
      }}
    </div>
    " %}
  </div>
  {% endif %}

  <div class="title-wrapper top-margin">
    {% module "terms" label="Terms" path="@hubspot/rich_text", html={{ "
    <h2>" ~ template_translations.purchase_terms.message ~ "</h2>
    " ~ ptoken_terms }} %}
  </div>

  <div class="title-wrapper top-margin">
    {% module "comments" label="Comments" path="@hubspot/rich_text" html={{ "
    <div>
      " ~ template_translations.comments_from.message ~ " " ~
      ptoken_sender_full_name ~ "
    </div>
    " ~ ptoken_comments }} %}
  </div>

  <div>
    <h1>TESTLISTA</h1>
    {% for item in template_data.quote.associated_objects %}
    <div>
      <p>{{ item }}</p>
    </div>
    {% endfor %}
  </div>

  <div class="signoff-container">
    <div>
      {% module "Signature_first" label="Signature first"
      path="@hubspot/rich_text" html="
      <div>
        <strong
          >{{
          personalization_token('template_data.quote.hs_sender_company_name',
          '') }}<br />
        </strong>
      </div>
      <div>
        {{
        personalization_token('template_data.quote.associated_objects.deal.kontaktperson_kantar','')
        }}
      </div>
      " %}
    </div>
    <div>
      {% module "Signature_second" label="Signature second"
      path="@hubspot/rich_text" html="
      <div>
        <strong
          >{{
          personalization_token('template_data.quote.associated_objects.company.name',
          '') }}<br />
        </strong>
      </div>
      <div>
        {{ template_data.quote.associated_objects.contacts[0].firstname }} {{
        template_data.quote.associated_objects.contacts[0].lastname }}
      </div>
      " %}
    </div>
  </div>
</div>

<script>
    const avtalsStart = new Date({{template_data.quote.associated_objects.deal.avtalsstart}}).toLocaleDateString("en-US", {
      month: "short",
      year: "numeric",
      day: "numeric",
    });

    const avtalsStopp = new Date({{template_data.quote.associated_objects.deal.avtalsstopp}}).toLocaleDateString("en-US", {
    month: "short",
    year: "numeric",
    day: "numeric",
  });

  document.getElementById("avtalsperiod").innerHTML = avtalsStart + " - " + avtalsStopp;
</script>
{% endblock body %}
