<!--
  templateType: quote
  isAvailableForNewContent: true
  label: Kantar
  screenshotPath: ../images/modern.png
-->

{% extends './layouts/base.html' %} {% block stylesheet %} {{
require_css(get_asset_url("../css/modern.css")) }} {% endblock stylesheet %} {%
block body %} {% require_css %}
<style>
  {% if module_data|attr('logo')|attr('hidden') %}
    .hs-quotes .header { display: none; }
  {% endif %}

  {% if module_data|attr('quote_name')|attr('hidden') &&
    module_data|attr('buyer_company')|attr('hidden') &&
    module_data|attr('buyer_contacts')|attr('hidden') &&
    module_data|attr('reference')|attr('hidden') &&
    module_data|attr('quote_created')|attr('hidden') &&
    module_data|attr('quote_expires')|attr('hidden') &&
    module_data|attr('sender_user')|attr('hidden')
  %}
    .hs-quotes .banner--top { display: none; }
  {% endif %}

  {% if module_data|attr('line_items_table')|attr('hidden') %}
    .hs-quotes .line-items { display: none; }
  {% endif %}

  {% if module_data|attr('terms')|attr('hidden') %}
    .hs-quotes .terms { display: none; }
  {% endif %}

  {% if !QUOTE.hs_esign_enabled && !QUOTE.hs_show_signature_box %}
    .hs-quotes .esign { display: none; }
  {% endif %}

  {% if module_data|attr('payment-schedule')|attr('hidden') || !ASSOCIATED_OBJECTS.payment_schedule %}
    .hs-quotes .payment-schedule { display: none; }
  {% endif %}

  {% if !QUOTE.hs_payment_enabled %}
    .hs-quotes .payment { display: none; }
  {% endif %}

  {% if module_data|attr('sender_contact')|attr('hidden') &&
    module_data|attr('sender_company')|attr('hidden')
  %}
    .hs-quotes .contacts { display: none; }
  {% endif %}

  {% if module_data|attr('download')|attr('hidden') &&
    module_data|attr('print')|attr('hidden')
  %}
    .hs-quotes .options { display: none; }
  {% endif %}
</style>
{% end_require_css %}

<div class="quotes-wrapper">
  <div class="kantar-logo">
    {% module "logo" path="../modules/quote_logo" %}
  </div>
  <div class="address-wrapper">
    <div>
      OK Förlaget AB<br />Att: Marjo Köhler<br />Box 23800<br />104 35 STOCKHOLM
    </div>
  </div>
  <div class="bold-title-wrapper">
    <div>
      <strong
        >Samarbetsavtal mellan KANTAR Media Sweden AB, 559383-6835 (Kantar) och
        OK Förlaget AB, 556040-1472 (OK Förlaget).
      </strong>
    </div>
  </div>
  <div class="title-wrapper">
    <div>
      Härmed avtalas om nyttjanderätten av ORVESTO® Konsument och mätning av
      tidningen Vi Bilägare för OK Förlagets räkning.
    </div>
  </div>
</div>
{% endblock body %}
